html, body {
    height: 100%;
    margin: 0;
    font-size: calc(100vw / 375 * 20);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none !important;
}

.white_space {
    height: 0 !important;
    font-size: 0 !important;
    overflow: hidden !important;
}

input + .check_box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 1.6em;
}

input + .check_box:before {
    content: '';
    display: block;
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    border: 1px solid #cedde2;
}

input:checked + .check_box:before {
    border: 1px solid transparent;
    background-image: url("../image/icon/store_check.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.number_box {
    display: flex;
    align-items: center;
    display: -webkit-box;
    -webkit-box-align: center;
}

.number_box .reduce,
.number_box .plus,
.number_box .value {
    display: inline-block;
    line-height: 1rem;
    margin: 1px;
    font-size: 0.6rem;
    text-align: center;
    background-color: #E5EFF3;
    vertical-align: middle;
}

.number_box .reduce,
.number_box .plus {
    width: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.number_box .value {
    border: none;
    width: 1.85rem;
    padding: 0;
}

.number_box .reduce {

}

.number_box .plus {

}


.shop_car_pop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10000;
}

.shop_car_pop .product_detail {
    position: relative;
    margin: -0.9rem 1.25rem 0;
    padding-top: 0.9rem;
    overflow: auto;
}

.shop_car_pop .product_detail .product_img {
    float: left;
    width: 5rem;
    height: 5rem;
    margin-top: -0.9rem;
    margin-right: -5rem;
    border: 1px solid #C7C7C7;
    background-color: white;
    box-sizing: border-box;
}
.shop_car_pop .product_detail .product_detail_info {
    margin-left: 5rem;
}


.icon {
    display: inline-block;
    vertical-align: middle;
}

.icon:before {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.icon_index:before {
    background-image: url(../image/icon/store_index.png);
}

.icon_index_active:before {
    background-image: url(../image/icon/store_index_active.png);
}

.icon_car:before {
    background-image: url(../image/icon/store_cart.png);
}

.icon_car_active:before {
    background-image: url(../image/icon/store_car_active.png);
}

.icon_me:before {
    background-image: url(../image/icon/store_me.png);
}

.icon_me_active:before {
    background-image: url(../image/icon/store_me_active.png);
}

.icon_wmw:before {
    background-image: url(../image/icon/wmw_icon.png);
}

.icon_search:before {
    background-image: url(../image/icon/store_search.png);
}

.icon_back:before {
    background-image: url(../image/icon/store_back.png);
}

.icon_shop_bag:before {
    background-image: url(../image/icon/store_shop_bag.png);
}

.icon_store_icon:before {
    background-image: url(../image/icon/store_icon.png);
}

.icon_delete:before {
    background-image: url(../image/icon/store_delete.png);
}

.icon_dollar:before {
    background-image: url(../image/icon/store_dollar.png);
}
