.tab_bar_item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-align: center;

    width: 30%;
    margin: 0;
    font-size: 0.55rem;
    color: #696969;
}

.tab_bar_item.active {
    color: #666666;
    font-weight: bold;
}

.tab_bar_item i {
    display: block;
    font-size: 1.1rem;
}

/*搜索控件*/
.search_box.closed .search_result {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}

.search_bar {
    position: fixed;
    top: 0.25rem;
    left: 0.55rem;
    right: 0.55rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

.search_bar input {
    position: absolute;
    left: 1.8rem;
    right: 1.8rem;
    height: 100%;
    width: calc(100% - 3.2rem);
    border: none;
    background: transparent;
    box-sizing: border-box;
}

.search_bar input:focus {
    outline: none;
}

.search_bar i:first-child {
    position: absolute;
    left: 0.4rem;
    top: 0.3rem;
    font-size: 0.9rem;
}

.search_bar i:nth-child(2) {
    position: absolute;
    left: 0.4rem;
    top: 0.3rem;
    font-size: 0.9rem;
}

.search_bar i:last-child {
    position: absolute;
    top: 0.35rem;
    right: 0.4rem;
    font-size: 0.65rem;
}

.search_result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
    transition: transform 800ms ease-in-out, opacity 800ms ease-in-out;
    z-index: 99;
}


/*轮播图控件*/
.swiper_container {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.swiper_wrapper{
    display: flex;
    display: -webkit-box;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
}
.swiper_slide {
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    text-align: center;
}
.swiper_slide img {
    height: 100%;
}
.swiper_slide.prev {
    margin-left: -100%;
}
.swiper_slide.next {
    margin-right: -100%;
}


/*商品列表*/
.product_items {
     display: -webkit-box;
     -webkit-box-lines: multiple;
     -webkit-box-pack: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.55rem 0.55rem 0 0.55rem;
}

.product_item {
    position: relative;
    display: block;
    width: 8.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.product_item_space {
    display: block;
    width: 8.5rem;
    height: 0;
    overflow: hidden;
}

.item_image {
    display: block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    overflow: hidden;
}
.item_image img {
    width: 100%;
    margin-top: -50%;
}


.detail_box {
    padding: 0.75rem 0.5rem 0.5rem;
}
.item_name {
    height: 2.4em;
    margin: 0;
    font-size: 0.6rem;
    color: #696969;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sale_price {
    margin: 0.4rem 0 0;
    font-size: 0.7rem;
    color: #ff6256;
}
.price {
    margin: 0.15rem 0 0 0.2em;
    font-size: 0.5rem;
    color: #999999;
    text-decoration: line-through;
}
.sale_price:before,
.price:before {
    content: "￥";
}

.shop_bag {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    right: 0.4rem;
    bottom: 0.4rem;
    text-align: center;
}